//https://getbootstrap.com/docs/5.0/customize/color/
//https://colorhunt.co/

$btn-bg-custom: linear-gradient(180deg, #4ABF3F -36.46%, #0B3D09 100%);
$primary: #4ABF3F;
$secondary: #F16422;
$info: rgba(74, 191, 63, 0.3);
$bg-footer: #0B3D09;