<footer class="pt-3 mt-4">
   <div class="container pb-2">
      <div class="row">
         <div class="col">
            <div class="d-flex flex-column lh-44px pt-2">
               <a href="#" class="text-white text-nowrap">خرید</a>
               <a href="#" class="text-white text-nowrap">خرید لباس</a>
               <a href="#" class="text-white text-nowrap">لباس مردانه</a>
               <a href="#" class="text-white text-nowrap">لباس زنانه</a>
               <a href="#" class="text-white text-nowrap">لباس بچگانه</a>
               <a href="#" class="text-white text-nowrap">خرید لوازم آرایشی</a>
            </div>
         </div>
         <div class="col">
            <div class="d-flex flex-column lh-44px pt-3">
               <a href="#" class="text-white text-nowrap">پرسش های متدوال</a>
               <a href="#" class="text-white text-nowrap">شرایط بازگشت</a>
               <a href="#" class="text-white text-nowrap">راهنمای خرید</a>
               <a href="#" class="text-white text-nowrap">فروش B2B</a>
               <a href="#" class="text-white text-nowrap">سنجش رضایتمندی</a>
            </div>
         </div>
         <div class="col">
            <div class="d-flex flex-column lh-44px pt-3">
               <a href="#" class="text-white text-nowrap">اطلاعات بانی مد</a>
               <a href="#" class="text-white text-nowrap">درباره ما</a>
               <a href="#" class="text-white text-nowrap">قوانین و مقررات</a>
               <a href="#" class="text-white text-nowrap">تماس با ما</a>
               <a href="#" class="text-white text-nowrap">فرصت های شغلی</a>
               <a href="#" class="text-white text-nowrap">همکاری تجاری</a>
            </div>
         </div>
         <div class="col">
            <div class="d-flex flex-column lh-44px pt-3">
               <a href="#" class="text-white text-nowrap">ارتباط با ما</a>
               <a href="#" class="text-white text-nowrap">7روز هفته-24 ساعته</a>
               <a href="#" class="text-white text-nowrap">تلفن:021-49215</a>
               <a href="#" class="text-white text-nowrap">پیامک:10001654</a>
               <a href="#" class="text-white text-nowrap">ایمیل:customer@mostaan.com</a>
               <div class="d-flex">
                  <a href="#" class="me-3"><img src="https://img.icons8.com/material-outlined/24/ffffff/telegram-app.png"/></a>
                  <a href="#" class="me-3"><img src="https://img.icons8.com/material-outlined/24/ffffff/whatsapp--v1.png"/></a>
                  <a href="#" class="me-3"><img src="https://img.icons8.com/material-outlined/24/ffffff/instagram-new--v1.png"/></a>
               </div>
            </div>
         </div>
         <div class="col text-end d-none d-lg-block pt-3">
            <img src="./images/image 11.svg" alt="">
            <img src="./images/image 12.svg" alt="">
         </div>
      </div>
      <div class="row mt-4">
         <div class="col-12">
            <span class="text-white fw-bold lh-44px">درباره ما</span>
            <p class="text-white">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
            </p>
         </div>
         <div class="col-12 text-center d-block d-lg-none">
            <img src="./images/image 11.svg" style="max-width: 75px;" alt="">
            <img src="./images/image 12.svg" style="max-width: 75px;" alt="">
         </div>
      </div>
   </div>
   <div class="border-top border-white text-center py-3 text-white">
      تمامی حقوق مادی و معنوی برای مستعان محفوظ است
   </div>
</footer>

   <% include /scripts.ejs %>

</body>
</html>