<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="asset/images/favicon.ico" />
    <title>sample home</title>
    <% include /styles.ejs %>
  </head>

  <body class="Site">
    <header class="container py-3 mt-2">
      <div class="row">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-block d-md-none">
            <button class="btn m-0 p-0">
              <img src="./images/List.svg" alt="" />
            </button>
            <button class="btn m-0 p-0">
              <img src="./images/search.svg" alt="" />
            </button>
          </div>
          <div>
            <img src="./images/mostaan-logo1 1.svg" class="logo-img" alt="" />
          </div>
          <div>
            <button class="btn custom-btn d-flex align-items-center">
              <span class="text-white pe-2 d-none d-md-block"
                >ورود / ثبت نام</span
              >
              <img src="./images/User.svg" class="user-icon" alt="" />
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div
          class="d-none d-md-flex justify-content-between align-items-center"
        >
          <nav class="d-flex">
            <a href="#" class="d-flex align-middle text-dark me-4"
              >مانتو<img src="./images/Vector.svg" class="ps-2" alt=""
            /></a>
            <a href="#" class="d-flex align-middle text-dark me-4"
              >ساعت<img src="./images/Vector.svg" class="ps-2" alt=""
            /></a>
            <a href="#" class="d-flex align-middle text-dark me-4"
              >کفش<img src="./images/Vector.svg" class="ps-2" alt=""
            /></a>
            <a href="#" class="d-flex align-middle text-dark me-4"
              >تنقلات<img src="./images/Vector.svg" class="ps-2" alt=""
            /></a>
            <a href="#" class="d-flex align-middle text-dark me-4"
              >مانتو<img src="./images/Vector.svg" class="ps-2" alt=""
            /></a>
            <a href="#" class="d-flex align-middle text-dark me-4"
              >ساعت<img src="./images/Vector.svg" class="ps-2" alt=""
            /></a>
            <a href="#" class="d-flex align-middle text-dark me-4"
              >کفش<img src="./images/Vector.svg" class="ps-2" alt=""
            /></a>
            <a href="#" class="d-flex align-middle text-dark me-4"
              >تنقلات<img src="./images/Vector.svg" class="ps-2" alt=""
            /></a>
          </nav>
          <div class="position-relative d-none d-lg-flex align-items-center">
            <button
              class="btn outline-none border-0 position-absolute start-0"
              type="button"
            >
              <img
                src="./images/search.svg"
                style="width: 21px; height: 21px"
              />
            </button>
            <input
              type="text"
              placeholder="جستجو"
              class="p-2 ps-5 rounded-3 border-primary"
            />
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
