<div
  class="product-box rounded-3 m-3 position-relative overflow-hidden border-0"
>
  <div class="position-absolute tag-icon top-0">
    <img src="./images/tag.svg" alt="" />
    <span class="position-absolute text-center">30٪ تخفیف </span>
  </div>
  <div class="card border-0">
    <a href="#" class="text-dark">
      <img src="./images/slider-1.svg" class="card-img-top" alt="" />
      <div class="card-body">
        <h6 class="card-title fw-bold pb-2 text-center">جوراب و کیت کت</h6>
        <h6 class="card-subtitle text-start">
          لورم ایپسوم تولید متن ساختگی لورم ایپسوم تولید متن ساختگی
        </h6>
      </div>
      <div
        class="card-footer border-0 d-flex justify-content-between bg-transparent"
      >
        <button
          class="btn cart-btn custom-btn py-2 px-3 text-white d-flex align-items-center"
        >
          <span class="d-none d-md-block pe-2">خرید</span>
          <img src="./images/cart-white.svg" class="cart-icon" alt="" />
        </button>
        <div class="d-flex flex-column justify-content-center ps-2">
          <span class="text-nowrap">۱۲۰/۰۰۰ تومان</span>
          <span
            class="d-none d-md-block text-muted fs-7 text-decoration-line-through text-nowrap"
            >۱۲۰/۰۰۰ تومان</span
          >
        </div>
      </div>
      <div class="tag d-flex position-absolute">
        <span class="text-white mt-2 px-2 d-block fs-7">جدید</span>
      </div>
    </a>
  </div>
</div>
